# Created by https://www.toptal.com/developers/gitignore/api/mplabx,atmelstudio
# Edit at https://www.toptal.com/developers/gitignore?templates=mplabx,atmelstudio

### AtmelStudio ###
## Ignore Atmel Studio temporary files and build results
# https://www.microchip.com/mplab/avr-support/atmel-studio-7

# Atmel Studio is powered by an older version of Visual Studio,
# so most of the project and solution files are the same as VS files,
# only prefixed by an `at`.

#Build Directories
[Dd]ebug/
[Rr]elease/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec
!/**/[Rr]elease/*.hex

#User Specific Files
*.atsuo

### MPLabX ###
#Ignore List for Microchips MPLabX IDE
#Form of netbeans with vendor specific changes
#Taken from zeha on GIST https://gist.github.com/zeha/5999375

*.pre
*.p1
*.lst
*.sym
*.obj
*.sdb
*.obj.dmp
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/

# End of https://www.toptal.com/developers/gitignore/api/mplabx,atmelstudio